.initial-offset {
  background: linear-gradient(
    to right,
    transparent,
    var(--background-disabled-grey)
  );

  height: 10px;
  width: 3rem;
  flex-shrink: 0;
}

.date-bar {
  background-color: var(--yellow-moutarde-850-200);
  height: 10px;
  margin-right: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.today {
  margin-left: 6.2rem;
}

.today span {
  border-right: 2px dotted var(--border-contrast-grey);
  height: 4.5rem;
  position: absolute;
  content: "";
  margin-left: -2.5rem;
  margin-top: 1.5rem;
}
