NEXT_URL=http://localhost:3000
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
PRO_CONNECT_ID="pro-connect-id"
PRO_CONNECT_SECRET="pro-connect-secret"
PRO_CONNECT_BASE_URL="pro-connect-base-url"
SECRET="secret"
PAGE_PASSWORD="password"
S3_URL="s3-url"
S3_ACCESS="storage-access"
S3_SECRET="storage-secret"
S3_BUCKET_NAME="bucket-name"
SENTRY_AUTH_TOKEN="sentry-auth-token"
NEXT_PUBLIC_MATOMO_URL="matomo-url"
NEXT_PUBLIC_MATOMO_SITE_ID="matomo-site-id"