# dependencies
/node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env files (can opt-in for committing if needed)
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# data
*.xlsx*
!public/adresses-diffus.xlsx
!public/adresses-mixte.xlsx
*.json
!/*.json
*.csv
*.ods

# Sentry Config File
.env.sentry-build-plugin

# Dumps
/dumps
*.pgsl

# Cursor config
.cursor/
