.container {
  width: 200px;
}

.container > div > pie-chart > div > div > div > div:nth-child(n + 4) {
  display: none !important;
}

.container > div > pie-chart > div > div > div > div:nth-child(2) {
  display: none !important;
}