/* stylelint-disable import-notation */
@layer theme, base, place-asile, dsfr, components, utilities;

@import "tailwindcss";
@import "./css/dsfr-tailwind.css";

/* Overrides */
.leaflet-marker-pane > div {
  background-color: unset;
  border: 0;
}

.leaflet-container a {
  color: var(--text-title-blue-france) !important;
}

[href] {
  background-image: none;
}

hr {
  padding: 6px;
}

.scroll-margin-header {
  scroll-margin-top: calc(var(--structure-header-height) + 7px);
}

/* Custom animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}
