/* stylelint-disable import-notation */
@layer theme, base, place-asile, dsfr, components, utilities;

@import "tailwindcss";
@import "./css/dsfr-tailwind.css";

/* Overrides */
.leaflet-marker-pane > div {
  background-color: unset;
  border: 0;
}

.leaflet-container a {
  color: var(--text-title-blue-france) !important;
}

[href] {
  background-image: none;
}

hr {
  padding: 6px;
}

.scroll-margin-header {
  scroll-margin-top: calc(var(--structure-header-height) + 7px);
}

/* Custom animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.fr-table > table thead {
  background-image: linear-gradient(
    0deg,
    var(--border-default-grey),
    var(--border-default-grey)
  );
}

.full-width-table {
  margin: 0;
  color: var(--mention-grey, #6b7280);
}

.full-width-table > table {
  width: unset;
}

.full-width-table > table > thead {
  color: var(--mention-grey, #6b7280);
}

.full-width-table > table > tbody > tr > td {
  padding: 0.75rem;
}

.full-width-table > table > thead > tr > th {
  font-size: 0.75rem;
  white-space: nowrap;
  border-bottom: 1px solid var(--grey-300, #D1D5DB);
}

.full-width-table > table > thead > tr > th:last-child {
  width: 100%;
}