[href] {
  background-image: none;
}

.w-full {
  width: 100%;
}

.text-blue-france {
  color: var(--text-title-blue-france)
}

.text-grey {
  color: var(--text-mention-grey)
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.bg-grey {
  background-color: var(--background-alt-grey);
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.left-menu {
  border-right: 1px solid var(--border-default-grey);
  width: 15vw;
}

.border-bottom {
  border-bottom: 1px solid var(--border-default-grey);
}

.no-shrink {
  flex-shrink: 0;
}

.align-right {
  display: flex;
  justify-content: end;
}

.leaflet-marker-pane > div {
  background-color: unset;
  border: 0;
}